---- TẠO DATABASE
CREATE DATABASE QUANLYBANHANGSIEUTHI1

drop database QUANLYBANHANGSIEUTHI1 
----TẠO BẢNG 
USE BANHANGSIEUTHI
GO
CREATE TABLE CA_LAM 
( MACA CHAR(10) NOT NULL
  CONSTRAINT qt_pk PRIMARY KEY,
  TENCA NVARCHAR(50) NOT NULL
);
select * from CA_LAM

CREATE TABLE NHA_CUNG_CAP
( MANCC CHAR(10) NOT NULL
  CONSTRAINT sb_pk PRIMARY KEY,
  TENNCC NVARCHAR(50) NOT NULL,
  DIACHI NVARCHAR(100)NOT NULL,
  DIENTHOAI NCHAR(15) NOT NULL
);
 
CREATE TABLE CONG_VIEC
( MACV CHAR(10) NOT NULL
  CONSTRAINT ct_pk PRIMARY KEY,
  TENCV NVARCHAR(50) NOT NULL
);


CREATE TABLE KHACH_HANG
( MAKHACH CHAR(10) NOT NULL
  CONSTRAINT bt_qk PRIMARY KEY,
  TENKHACH NVARCHAR(50) NOT NULL,
  DIACHI NVARCHAR(50) NOT NULL,
  DIENTHOAI NCHAR(15) NOT NULL
);

CREATE TABLE NOI_SAN_XUAT
( MANOISX CHAR(10) NOT NULL
  CONSTRAINT dt_pk PRIMARY KEY,
  TENNOISX NVARCHAR(50) NOT NULL
);

CREATE TABLE CONG_DUNG
( MACONGDUNG CHAR(10) NOT NULL
  CONSTRAINT gt_pk PRIMARY KEY,
  TENCONGDUNG NVARCHAR(50) NOT NULL
);

CREATE TABLE CHAT_LIEU
( MACHATLIEU CHAR(10) NOT NULL
  CONSTRAINT ht_pk PRIMARY KEY,
  TENCHATLIEU NVARCHAR(50) NOT NULL
);

CREATE TABLE DON_VI_TINH
( MADONVI CHAR(10) NOT NULL
  CONSTRAINT kt_pk  PRIMARY KEY,
  TENDONVI NVARCHAR(50) NOT NULL
);

CREATE TABLE NHOM_HANG
( MANHOM CHAR(10) NOT NULL
  CONSTRAINT lt_pk  PRIMARY KEY,
  TENNHOM NVARCHAR(50) NOT NULL
);

CREATE TABLE THE_LOAI
( MALOAI CHAR(10) NOT NULL
  CONSTRAINT mt_pk  PRIMARY KEY,
  MANHOM CHAR(10) NOT NULL,
  TENLOAI NVARCHAR(50) NOT NULL,
  CONSTRAINT lt_nh_fk FOREIGN KEY(MANHOM) REFERENCES NHOM_HANG(MANHOM)
);

CREATE TABLE DM_HANG_HOA
( MAVACH CHAR(20) NOT NULL 
  CONSTRAINT nt_pk  PRIMARY KEY,
  TENHANGHOA NVARCHAR(100) NOT NULL,
  MANHOM CHAR(10) NOT NULL,
  
  
  
  MACHATLIEU CHAR(10)NOT NULL,
  MACONGDUNG CHAR(10)NOT NULL,
  
  SOLUONG FLOAT NOT NULL,
  DONGIANHAP FLOAT NOT NULL,
  DONGIABAN FLOAT NOT NULL,
  ANH TEXT, 
  GHICHU NVARCHAR(100),
  CONSTRAINT nt_nk_fk FOREIGN KEY(MANHOM)REFERENCES NHOM_HANG(MANHOM),
   
 
  CONSTRAINT ht_cl_fk FOREIGN KEY(MACHATLIEU) REFERENCES CHAT_LIEU(MACHATLIEU),
  CONSTRAINT gt_cd_fk FOREIGN KEY(MACONGDUNG) REFERENCES CONG_DUNG(MACONGDUNG),
 
);

CREATE TABLE NHAN_VIEN
( MANV CHAR(10) NOT NULL
  CONSTRAINT ot_pk  PRIMARY KEY,
  TENNHANVIEN NVARCHAR(50) NOT NULL,
  GIOITINH NVARCHAR(10) NOT NULL,
  NGAYSINH DATE NOT NULL,
  DIENTHOAI NCHAR(15)NOT NULL,
  DIACHI NVARCHAR(100) NOT NULL,
  MANHOM CHAR(10) NOT NULL,
 
  CONSTRAINT nt_nt_fk FOREIGN KEY(MANHOM) REFERENCES NHOM_HANG(MANHOM),
  
);

CREATE TABLE HOA_DON_NHAP
( SOHDN CHAR(10) NOT NULL
  CONSTRAINT vt_pk PRIMARY KEY,
  MANV CHAR(10) NOT NULL,
  NGAYNHAP DATETIME NOT NULL,
  MANCC CHAR(10) NOT NULL,
  TONGTIEN FLOAT NOT NULL
  CONSTRAINT ot_bb_fk FOREIGN KEY(MANV) REFERENCES NHAN_VIEN(MANV),
  CONSTRAINT sb_vv_fk FOREIGN KEY(MANCC) REFERENCES NHA_CUNG_CAP(MANCC)
 );
 
 CREATE TABLE CHI_TIET_HD_NHAP
( SOHDN CHAR(10) NOT NULL,
  MAVACH CHAR(20) NOT NULL,
  SOLUONGNHAP FLOAT NOT NULL,
  DONGIA FLOAT NOT NULL,
  GIAMGIA FLOAT,
  THANHTIEN FLOAT NOT NULL,
  CONSTRAINT vt_pk_fk FOREIGN KEY(SOHDN)REFERENCES HOA_DON_NHAP(SOHDN),
  CONSTRAINT nt_pk_fk FOREIGN KEY(MAVACH)REFERENCES DM_HANG_HOA(MAVACH),
  CONSTRAINT ab PRIMARY KEY (SOHDN, MAVACH)
 );
  

CREATE TABLE HOA_DON_BAN 
( SOHDB CHAR(10) NOT NULL
  CONSTRAINT pt_pk  PRIMARY KEY,
  MANV CHAR(10) NOT NULL,
  NGAYBAN DATE NOT NULL,
  MAKHACH CHAR(10) NOT NULL,
  TONGTIEN FLOAT NOT NULL,
  CONSTRAINT ot_db_fk FOREIGN KEY(MANV) REFERENCES NHAN_VIEN(MANV),
  CONSTRAINT bt_db_fk FOREIGN KEY(MAKHACH) REFERENCES KHACH_HANG(MAKHACH)
);


CREATE TABLE CHI_TIET_HD_BAN
( SOHDB CHAR(10) NOT NULL,
  MAVACH CHAR(20) NOT NULL,
  SOLUONGBAN FLOAT NOT NULL,
  GIAMGIA FLOAT,
  DONGIA FLOAT,
  THANHTIEN FLOAT NOT NULL,
  CONSTRAINT pt_pk_fk FOREIGN KEY(SOHDB) REFERENCES HOA_DON_BAN(SOHDB),
  CONSTRAINT nt_pp_fk FOREIGN KEY(MAVACH) REFERENCES DM_HANG_HOA(MAVACH),
  CONSTRAINT cd PRIMARY KEY (SOHDB, MAVACH) 
 ); 
 
  
-------INSERT DỮ LIỆU 
 INSERT INTO CA_LAM(MACA,TENCA)
 VALUES ('C001','CA1');
 INSERT INTO CA_LAM(MACA,TENCA)
 VALUES ('C002','CA2');
 INSERT INTO CA_LAM(MACA,TENCA)
 VALUES ('C003','CA3');
 
 
 INSERT INTO NHA_CUNG_CAP(MANCC,TENNCC,DIACHI,DIENTHOAI)
 VALUES ('NH001','VIET ANH ST','84 Linh Nam, HN','0842448888');
 INSERT INTO NHA_CUNG_CAP(MANCC,TENNCC,DIACHI,DIENTHOAI)
 VALUES ('NH002','HAI HA ST','50 Thinh Hao 1, HN','0966456789');
 INSERT INTO NHA_CUNG_CAP(MANCC,TENNCC,DIACHI,DIENTHOAI)
 VALUES ('NH003','HOA MAI ST','190 Tran Nguyên Han, Hai Phong','0633898989');
 
 INSERT INTO CONG_VIEC(MACV,TENCV)
 VALUES ('CV001','QUAN lY');
 INSERT INTO CONG_VIEC(MACV,TENCV)
 VALUES ('CV002','NVBH');
 INSERT INTO CONG_VIEC(MACV,TENCV)
 VALUES ('CV003','BAO VE');
 
 INSERT INTO KHACH_HANG(MAKHACH,TENKHACH,DIACHI,DIENTHOAI)
 VALUES ('KH001','Le Hai Nam','6B Ngoc Ha, Ba Đinh, HN','0966234587');
 INSERT INTO KHACH_HANG(MAKHACH,TENKHACH,DIACHI,DIENTHOAI)
 VALUES ('KH002','Bui My Duyên','50 Tay Sơn, HN','0845869324');
 INSERT INTO KHACH_HANG(MAKHACH,TENKHACH,DIACHI,DIENTHOAI)
 VALUES ('KH003','Lê Phuong Hanh','99 Chua Boc, HN','0333457426');
 
 INSERT INTO NOI_SAN_XUAT(MANOISX,TENNOISX)
 VALUES ('SX001','NHA MAY LONG HAI');
 INSERT INTO NOI_SAN_XUAT(MANOISX,TENNOISX)
 VALUES ('SX002','NHA MAY HAI HAU');
 INSERT INTO NOI_SAN_XUAT(MANOISX,TENNOISX)
 VALUES ('SX003','NHA MAY ABC');
 
 INSERT INTO CONG_DUNG(MACONGDUNG,TENCONGDUNG)
 VALUES ('CD001','AN NHANH');
 INSERT INTO CONG_DUNG(MACONGDUNG,TENCONGDUNG)
 VALUES ('CD002','SKINCARE');
 INSERT INTO CONG_DUNG(MACONGDUNG,TENCONGDUNG)
 VALUES ('CD003','VE SINH');
 
 INSERT INTO CHAT_LIEU(MACHATLIEU,TENCHATLIEU)
 VALUES ('CL001','BOT MY');
 INSERT INTO CHAT_LIEU(MACHATLIEU,TENCHATLIEU)
 VALUES ('CL002','DAU TAM');
 INSERT INTO CHAT_LIEU(MACHATLIEU, TENCHATLIEU)
 VALUES ('CL003','SOI BONG');
 
 INSERT INTO DON_VI_TINH(MADONVI,TENDONVI)
 VALUES ('DV001','Kg')
 INSERT INTO DON_VI_TINH(MADONVI,TENDONVI)
 VALUES ('DV002','Hop');
 INSERT INTO DON_VI_TINH(MADONVI,TENDONVI)
 VALUES ('DV003','Goi');
 
 INSERT INTO NHOM_HANG(MANHOM,TENNHOM)
 VALUES ('N001','AN');
 INSERT INTO NHOM_HANG(MANHOM,TENNHOM)
 VALUES ('N002','MY PHAM');
 INSERT INTO NHOM_HANG(MANHOM,TENNHOM)
 VALUES ('N003','GIA DUNG');
 
 INSERT INTO THE_LOAI(MALOAI,MANHOM,TENLOAI)
 VALUES ('L001','N001','Loai A');
 INSERT INTO THE_LOAI(MALOAI,MANHOM,TENLOAI)
 VALUES ('L002','N002','Loai B');
 INSERT INTO THE_LOAI(MALOAI,MANHOM,TENLOAI)
 VALUES ('L003','N003','Loai C');
 
 truncate table DM_HANG_HOA
 select * from DM_HANG_HOA
 INSERT INTO DM_HANG_HOA(MAVACH,TENHANGHOA,MANHOM,MACHATLIEU,
             MACONGDUNG,SOLUONG,DONGIANHAP,DONGIABAN,ANH,GHICHU)
 VALUES('00001002100','Bot my da dung Mezian cao cap','N001','CL001','CD001',6250,8000,10000,'/image/user/-1.jpg','');

        
 INSERT INTO DM_HANG_HOA(MAVACH,TENHANGHOA,MANHOM,MACHATLIEU,
             MACONGDUNG,SOLUONG,DONGIANHAP,DONGIABAN,ANH,GHICHU)
 VALUES('00001001500','Gel cream SK','N002','CL001','CD002',7000,9000,11000,'/image/user/-2.jpg',''); 
 
 INSERT INTO DM_HANG_HOA(MAVACH,TENHANGHOA,MANHOM,MACHATLIEU,
             MACONGDUNG,SOLUONG,DONGIANHAP,DONGIABAN,ANH,GHICHU)
 VALUES('00001002200','Khan Tam','N003','CL003','CD003',6500,9000,12000,'/image/user/-3.jpg','');
 
  
  
  
 INSERT INTO NHAN_VIEN(MANV,TENNHANVIEN,GIOITINH,NGAYSINH,DIENTHOAI,DIACHI,MANHOM)
 VALUES('NV001','Tran Hoa Mai','Nu','1997-08-05','0966722345','20 Lê Trong Tan, HN','N003');
 INSERT INTO NHAN_VIEN(MANV,TENNHANVIEN,GIOITINH,NGAYSINH,DIENTHOAI,DIACHI,MANHOM)
 VALUES('NV002','Lê Trung Kiên','Nam','1990-04-18','0366781260','10/2 Tam Khương, HN','N001');
 INSERT INTO NHAN_VIEN(MANV,TENNHANVIEN,GIOITINH,NGAYSINH,DIENTHOAI,DIACHI,MANHOM)
 VALUES('NV003','Nguyen Thi Linh','Nu','1998-12-10','0866123678','45 Tôn That Tung, HN','N002');
 
 INSERT INTO HOA_DON_NHAP(SOHDN,MANV,NGAYNHAP,MANCC,TONGTIEN)
 VALUES('HDN0010T','NV002','2020-03-25 09:15:29','NH001',50000000);
 INSERT INTO HOA_DON_NHAP(SOHDN,MANV,NGAYNHAP,MANCC,TONGTIEN)
 VALUES('HDN0005T','NV001','2020-02-10 14:23:26','NH002',18000000);
 INSERT INTO HOA_DON_NHAP(SOHDN,MANV,NGAYNHAP,MANCC,TONGTIEN)
 VALUES('HDN0020T','NV003','2020-04-01 09:30:33','NH003',25500000);
 Select * from HOA_DON_BAN
 
 INSERT INTO CHI_TIET_HD_NHAP(SOHDN,MAVACH,SOLUONGNHAP,DONGIA,GIAMGIA,THANHTIEN)
 VALUES('HDN0010T','00001002100',6250,8000,0,50000000);
 INSERT INTO CHI_TIET_HD_NHAP(SOHDN,MAVACH,SOLUONGNHAP,DONGIA,GIAMGIA,THANHTIEN)
 VALUES('HDN0005T','00001001500',60,300000,0,18000000);
 INSERT INTO CHI_TIET_HD_NHAP(SOHDN,MAVACH,SOLUONGNHAP,DONGIA,GIAMGIA,THANHTIEN)
 VALUES('HDN0020T','00001002200',255,100000,0,25500000);
 select * from CHI_TIET_HD_BAN
 INSERT INTO HOA_DON_BAN(SOHDB,MANV,NGAYBAN,MAKHACH,TONGTIEN)
 VALUES('HDB0011T','NV001','2020-04-13 10:05:12','KH001',500000);
 INSERT INTO HOA_DON_BAN(SOHDB,MANV,NGAYBAN,MAKHACH,TONGTIEN)
 VALUES('HDB0020T','NV001','2020-04-14 13:37:45','KH002',350000);
 INSERT INTO HOA_DON_BAN(SOHDB,MANV,NGAYBAN,MAKHACH,TONGTIEN)
 VALUES('HDB0030T','NV003','2020-04-15 18:10:20','KH003',510000);
 
 INSERT INTO CHI_TIET_HD_BAN(SOHDB,MAVACH,SOLUONGBAN,GIAMGIA,DONGIA,THANHTIEN)
 VALUES('HDB0011T','00001001500',50,0,10000,500000);
 INSERT INTO CHI_TIET_HD_BAN(SOHDB,MAVACH,SOLUONGBAN,GIAMGIA,DONGIA,THANHTIEN)
 VALUES('HDB0020T','00001002200',5,0,7000,350000);
 INSERT INTO CHI_TIET_HD_BAN(SOHDB,MAVACH,SOLUONGBAN,GIAMGIA,DONGIA,THANHTIEN)
 VALUES('HDB0030T','00001002100',3,0,17000,51000);
 
 SELECT * FROM CA_LAM;
  SELECT * FROM NHA_CUNG_CAP;
   SELECT * FROM CONG_VIEC;
    SELECT * FROM KHACH_HANG;
     SELECT * FROM NOI_SAN_XUAT;
      SELECT * FROM CONG_DUNG;
       SELECT * FROM CHAT_LIEU;
        SELECT * FROM DON_VI_TINH;
         SELECT * FROM NHOM_HANG;
          SELECT * FROM THE_LOAI;
           SELECT * FROM DM_HANG_HOA;
            SELECT * FROM NHAN_VIEN;
             SELECT * FROM HOA_DON_NHAP;
              SELECT * FROM CHI_TIET_HD_NHAP;
               SELECT * FROM HOA_DON_BAN;
                SELECT * FROM CHI_TIET_HD_BAN;
                
                
                
                select MONTH(HOA_DON_BAN.NGAYBAN) AS THANG, CHI_TIET_HD_BAN.SOHDB, CHI_TIET_HD_BAN.MAVACH, SOLUONGBAN, TENHANGHOA, NGAYBAN 
                from ((CHI_TIET_HD_BAN full outer join DM_HANG_HOA on CHI_TIET_HD_BAN.MAVACH = DM_HANG_HOA.MAVACH) 
                full outer join HOA_DON_BAN on CHI_TIET_HD_BAN.SOHDB = HOA_DON_BAN.SOHDB) ORDER BY [SOLUONGBAN] DESC;
                select from CHI_TIET_HD_BAN 
                
select MAVACH, CHI_TIET_HD_BAN.SOHDB, SOLUONGBAN, MONTH(HOA_DON_BAN.NGAYBAN) AS THANG 
FROM CHI_TIET_HD_BAN  join HOA_DON_BAN on CHI_TIET_HD_BAN.SOHDB = HOA_DON_BAN.SOHDB ORDER BY SOLUONGBAN DESC;
                  select top 3 * from HOA_DON_NHAP order by TONGTIEN DESC;
              
                select * from HOA_DON_NHAP;
select top 3 HOA_DON_BAN.MAKHACH, TENKHACH, HOA_DON_BAN.SOHDB, SOLUONGBAN 
FROM ((HOA_DON_BAN join KHACH_HANG  ON HOA_DON_BAN.MAKHACH = KHACH_HANG.MAKHACH)
 join CHI_TIET_HD_BAN on HOA_DON_BAN.SOHDB = CHI_TIET_HD_BAN.SOHDB) ORDER BY SOLUONGBAN ASC;
 
----câu 1: cập nhật số lượng 
CREATE TRIGGER CAPNHATBAN ON CHI_TIET_HD_BAN AFTER INSERT
AS
BEGIN
	UPDATE DM_HANG_HOA
	SET SOLUONG = SOLUONG - (
		SELECT SOLUONGBAN
		FROM inserted
		WHERE MAVACH=DM_HANG_HOA.MAVACH
	)
	FROM DM_HANG_HOA  JOIN inserted ON DM_HANG_HOA.MAVACH=inserted.MAVACH
END;


CREATE TRIGGER CAPNHAT ON CHI_TIET_HD_NHAP AFTER INSERT
AS
BEGIN
	UPDATE DM_HANG_HOA
	SET SOLUONG = SOLUONG + (
		SELECT SOLUONGNHAP
		FROM inserted
	    WHERE MAVACH=DM_HANG_HOA.MAVACH
	)
	FROM DM_HANG_HOA JOIN inserted ON DM_HANG_HOA.MAVACH=inserted.MAVACH
END;